

/* api whatsapp */
.whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;   
    position: fixed;
    z-index: 18;
    right: 30px;
    bottom: 50px;

}
.whatsapp li{
    padding: 4px;
}
.whatsapp p{
    font-size: 14pt;
    color: gainsboro;
    background-color: rgba(43, 43, 43, 0.534);
    border-radius: 10px;
    padding: 5px;
}
.whatsapp img{
    width: 50px;
}
.whatsapp img:hover{
    width: 55px;
}


/* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 16;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo img{
    height: 50px;
}

.header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header nav ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gainsboro;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    padding: 10px;
}
.header nav ul li:hover a{
    color: dimgray;
}

.header label, input{
    display: none;
    
}


/* feed */


/* welcome section */

.slideshow{
   
    padding-top: 90px;
    margin-bottom: 80px;
    margin-right: 150px;
    margin-left: 150px;
}

.section{
    background-image: url("../img/hub360.jpeg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.full-section{
    justify-content: center;
    align-items: center;
    display: grid;
    
}

.full-section h3{
    text-shadow: 2px 2px 2px black;
    font-family: Times, Times New Roman, serif;
    font-size: 30pt;
    color: gainsboro;
    text-align: center;

}
.full-section p{
    font-family: Snell Roundhand, serif;
    font-style: italic;
    font-size: 20pt;
    text-align: center;
    color: gainsboro;
    
}


/* post section */

.post-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #222222;

}

.post-imagem{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #121212;
}
.post-imagem img{
    width: 100%;
    
}

.post-text{
    display: flex;
    align-items: center;
    width: 50%;
    padding: 20px;
    color: gainsboro;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
}
.post-text h3{
    color: rgb(255, 255, 255);
}
.post-text a{
    display: flex;
    align-items: center;
    color:gainsboro;
}
.post-text a:hover{
    color: dimgray;
}
.post-text img{
    margin-right: 10px;
    width: 25px;
    border-radius: 7px;
}


/* Footer */

.footer{
    background-color: #181818;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    text-align: left;
    font-size: 14pt;
}
.footer a {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: gainsboro;
    padding: 2px;
}
.footer a:hover{
    color: rgb(156, 156, 156);
}
.footer p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(156, 156, 156);
    padding: 2px;
    padding-bottom: 10px;
}
.footer ul{
    width: 20%;
}
.footer img{
    margin-right: 10px;
    width: 25px;
    border-radius: 7px;
}

.footer-inferior p{
    padding: 5px;
    text-align: center;
    font-size: 10pt;
    color: gainsboro;
}

/*galeria.html*/

.filtro{
        
    display: flex;
    padding: 20px;
    justify-content: center;

}
.botao{
    margin-left: 20px;
    align-items: center;
    padding: 8px;
    background-color: gainsboro;
    color: black;
    font-weight: bolder;
    font-size: 14pt;
    border-radius: 5px;
    box-shadow: 4px 4px 16px black;
}
.botao-active, .botao:hover {
    margin-left: 20px;
    align-items: center;
    background-color: #969696;
    color: black;
    font-weight: bolder;
    font-size: 14pt;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 4px 4px 16px black;
}

.albumgaleria{
    
    display: flex;
    flex-wrap: wrap;
    margin: 80px;
    justify-content: center;
    
}

.foto{
    display: flex;
    justify-content: center;
    background-color: #212121;
    overflow: hidden;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 20px;
}
.foto img{
    height: 100%;
    

}
.foto a{
    height: 300px;
    width: 300px;
}

.full-image{
    display: none;
}
.full-image:target{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
}
.image{
    width: 40%;
}

.image img{
    width: 100%;
}
.image a{
    float: right;;
    font-size: 20pt;
    color: gainsboro;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 10px;

    border-radius: 30%;
    border: 2px white solid;
}
/* paginação */

.pagination{
    margin-top: 50px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    
}

.pagination ul{
    display: flex;
    box-shadow: 4px 4px 16px black;
    background-color: gainsboro;
    padding: 5px;
    border-radius: 5px;
    
}
.pagination li{
    display: flex;
    align-items: center;
}
.pagination li:hover{
    background-color: #969696;
}
.pagination a{
    padding: 10px;
    color: black;
    font-size: 14pt;
    font-weight: bolder;
}

.desativado a{
    color: rgb(165, 165, 165);
    background-color: gainsboro;
}

/* patrocinadores */

.patrocinadores{
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
}
.patrocinadores a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(15, 15, 15);
    overflow: hidden;
    
}
.patrocinadores img{
    width: 100%;
    
}



/* media */

@media screen and (max-width: 1000px) and (min-height: 1100px){
    
    .slideshow{
        padding-top: 140px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .post-section{
        margin-left: 50px;
        margin-right: 50px;
    }
    .post-imagem{
        width: 100%;
        height: 100%;
    }
    .post-text{
        width: 100%;
        font-size: 35pt;
    }
    .post-text h3{
        font-size: 35pt;
    }
    .post-text img{
        width: 60px;
        margin-right: 30px;
    }
    .full-section h3{
        font-size: 50pt;
    }
    .whatsapp p{
        font-size: 30pt;
    }
    .whatsapp img{
        width: 100px;
    }
    .whatsapp img:hover{
        width: 110px;
    }

    .header ul{
        position: absolute;
        right: -100%;
        background-color: black;
        transition: all .4s;
        width: 100%;
    }
    .header nav ul li a{
        font-size: 40pt;
    }
    .header-logo img{
        height: 100px;
    }
    .header label{
        display: unset;
        font-size: 80px;
        background-color: black;
        text-align: center;
        color: gainsboro;
        cursor: pointer;
        width: 60px;
        height: 50px; 
    }
    #btn:checked ~ ul{
        right: 0;
    }
    
    .footer{
        font-size: 35pt;
    }
    .footer ul{
        width: 100%;
        padding: 50px;
    }
    .footer img{
        width: 60px;
        margin-right: 30px;
    }
    .footer-inferior p{
        font-size: 20pt;
    }
    .botao{
        font-size: 30px;
    }
    .botao-active, .botao:hover {
        font-size: 30px;
    }
    .pagination a{
        font-size: 30pt;
    }
    .albumgaleria{
        margin: 50px;
    }
    .foto , .foto a{
        height: 250px;
        width: 250px;
    }
    .image a{
        font-size: 40px;
        font-weight: bold;
        padding-right: 18px;
        padding-left: 18px;
    }
    .image{
        width: 80%;
    }
    

}

