header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 80px;
}
nav{
    
    width: 100%;
    height: 100%;
    position: relative;
    
}
footer{
    background-color: #121212;
    height: 300px;
    width: 100%;
}
a{
    text-decoration: none;
    color: gainsboro;
}
a:hover{
    color: dimgray;
}
.header-title{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 28pt;
    color: gainsboro;

 }
.header-link{
   font-family: Century Gothic;
   text-decoration: none;
   font-size: 18pt;
   text-align: right;
   color: gainsboro; 
   
}

.esquerda{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 15%;
    height: 100%;
}

.centro{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 65%;
    height: 100%;
    
}

.direita{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20%;
    height: 100%;
    
}



.esquerda-item{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;
}

.direita-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 100%;
    height: 100%;
    
}
.centro-item{
    
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.esquerda-item img{
    height: 60px;
}

.frase{
    color: gainsboro;
    font-size: 30px;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    width: 400px;
    bottom: 100px;
    left: 5%;
}

.main-foto{
    width: 100%;
    position: relative;
    height: 600px;
    background-attachment: fixed;
    background-size: 100%;
    background-position: 50% 0;
    
}
.foto01{
    background-image: url(../img/foto01.png);
}

.main{
    background-color: #000000;
    width: 100%;

}
.full-section{
    background-color: #121212;
    width: 100%;
    height: 300px;
}

.welcome-div1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}
.welcome-div2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42%;
    width: 100%;
}
.welcome-div3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18%;
}
.box-div1{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 70%;
}
.box-div2{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.box-div3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}
.welcome-title{
    font-family: Times, Times New Roman, serif;
    font-size: 32pt;
    text-align: center;
    color: gainsboro; 

}
.welcome-text{
    font-family: Snell Roundhand, serif;
    font-style: italic;
    font-size: 18pt;
    text-align: center;
    color: gainsboro; 
}

.post-section{
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.post-center{
    background-color: #121212;
    width: 100%;
    height: 80%;

}
.post-left{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: #121212;
    text-align: right;
    width: 50%;
    height: 100%;
}
.post-right{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    background-color: #222222;
    text-align: left;
    width: 50%;
    height: 100%;
}
.post-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}
.post-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.post-imagem img{
    height: 100%;
    
}
.post-title{
    font-family: Times, Times New Roman, serif;
    font-size: 20pt;
    color: gainsboro; 
}
.text-label{
    font-family: Century Gothic;
    color: gainsboro;
    font-size: 18pt;
}
.footer-center{
    height: 100%;
    width: 100%;
}
.footer-superior{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    text-align: center;
}

.footer-inferior{
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    top: 90%;
    width: 100%;
    height: 10%;
    text-align: center;
}

.footer-links{
    height: 80%;
}
.footer-text{
    font-family: Times, Times New Roman, serif;
    font-size: 12pt;
    color: gainsboro; 
}

#container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.coluna{
   
    width: 33%;
    height: 100%;
    font-family: Century Gothic;
    color: gainsboro;
    font-size: 18pt;
    text-align: left;
}

#coluna-01{
    position: relative;
   
}
#coluna-02{ 
    position: relative;
 
}
#coluna-03{
    position: relative;
}

/*galeria.html*/

.bg-galeria{
    background-attachment: fixed;
    background-size: cover;
    background-color: #222222;
    /*background-image: url(../img/foto01.png);*/
}


.album{
    
    padding-right: 5%;
    padding-left: 5%; 
    width: 90%;
    height: 3000px;
}

.col-album{

    padding-top: 30px;
    float: left;
    width: 33.3333%;
    height: 350px;
    
}

.col-foto{
    box-shadow: 4px 4px 16px black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: .25rem;
    width: 92%;
    height: 92%;
    margin: 4%;
}
.col-foto img{
    
    border-radius: .25rem;
    height: 100%;
}

.divisao{
    height: 600px;
    width: 100%;
}
.pri-divisao{
   
    margin-top: 150px;
    height: 300px;
    width: 100%;
}
.seg-divisao{
    margin-top: 150px;
    height: 100px;
    width: 100%;
    
}
.filtro{
    background: rgba(110, 110, 110, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    height: 100px;
    width: 40%;

}
.botao{
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 4px 4px 16px black;
    display: flex;
    color: gainsboro;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: none;
    border-radius: 0.5em;
    background-color: black;
    width: 200px;
    height: 50px;
}
.botao:hover{
  
    background-color: #212121;
    font-size: 22px;
    border-radius: 0.5em;
    width: 220px;
    height: 60px;
}