header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 80px;
    position: fixed;
    
    z-index: 16;
}
nav{
    
    width: 100%;
    height: 100%;
    
}
footer{
    
    background-color: #121212;
    height: 300px;
    width: 100%;
    
}
a{
    text-decoration: none !important; 
    color: gainsboro !important;
}
a:hover{
    color: dimgray !important;
}
p{
    margin-bottom: 0 !important;
}

.whatsapp{
    position: fixed;
    z-index: 18;
    right: 30px;
    bottom: 30px;
    
    
}
.whatsapp img{
    width: 80px;
    height: 80px;
}
.whatsapp img:hover{
    width: 100px;
    height: 100px;
}

.header-title{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 28pt;
    color: gainsboro;
    margin: 0 auto;

 }
.header-link{
   font-family: Century Gothic;
   text-decoration: none;
   font-size: 28pt;
   text-align: right;
   color: white; 
   margin: 0 auto;
   
}

.esquerda{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10%;
    height: 100%;
}

.centro{
    float: left;
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    width: 50%;
    height: 100%;
    
}

.direita{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    height: 100%;
    
}


.direita-link01{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 50%;
    height: 100%;
   
    
}
.direita-link02{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 50%;
    height: 100%;
  
}
.centro-item{
    
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.esquerda-item img{
    height: 60px;
}
.slideshow{
    padding-top: 80px;
}

.frase{
    color: gainsboro;
    font-size: 30px;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    width: 400px;
    bottom: 100px;
    left: 5%;
}


.main{
    
    background-color: #000000;
    width: 100%;

}
.full-section{
    background-color: #121212;
    width: 100%;
    height: 300px;
}

.welcome-div1{
    /*position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}
.welcome-div2{
    /*position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42%;
    width: 100%;
}
.welcome-div3{
    /*position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18%;
}
.box-div1{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 80%;
}
.box-div2{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.box-div3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}
.welcome-title{
    font-family: Times, Times New Roman, serif;
    font-size: 30pt;
    text-align: center;
    color: gainsboro; 

}
.welcome-text{
    font-family: Snell Roundhand, serif;
    font-style: italic;
    font-size: 18pt;
    text-align: center;
    color: gainsboro; 
}

.post-section{
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.post-center{
    background-color: #121212;
    width: 100%;
    height: 80%;

}
.post-left{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: #121212;
    text-align: right;
    width: 50%;
    height: 100%;
}
.post-right{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    background-color: #222222;
    text-align: left;
    width: 50%;
    height: 100%;
}

.post-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.post-imagem img{
    height: 100%;
    
}

.post-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

.post-title{
    font-family: Times, Times New Roman, serif;
    font-size: 20pt;
    color: rgb(255, 255, 255); 
}
.text-label{
    font-family: Century Gothic;
    color: gainsboro;
    font-size: 18pt;
}

/* Footer */

.footercenter{
    height: 100%;
    width: 100%;
}
.footersuperior{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
    text-align: center;
}

.footerinferior{
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    width: 100%;
    height: 15%;
    text-align: center;
}

.footer-links{
    height: 80%;
}
.footertext{
    font-family: Times, Times New Roman, serif;
    font-size: 15pt;
    color: gainsboro; 
}

#containerfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.coluna{
   
    width: 33%;
    height: 100%;
    font-family: Century Gothic;
    color: gainsboro;
    font-size: 15pt;
    text-align: left;
}


/*galeria.html*/


.albumgaleria{
   
    padding-right: 5%;
    padding-left: 5%;
    height: 2200px;
    width: 100%;
    
}

.colalbum{
    
    
    padding-top: 30px;
    float: left;
    width: 33.3333%;
    height: 350px;
    
}

.colfoto{
    background-color: #212121;
    box-shadow: 4px 4px 16px black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: .25rem;
    width: 92%;
    height: 92%;
    margin: 4%;
}
.colfoto img{
    
    border-radius: .25rem;
    height: 100%;
}

.divisao{
    background-color: #121212;
    height: 400px;
    width: 100%;
}
.pri-divisao{
   
    height: 300px;
    width: 100%;
}
.seg-divisao{
    height: 100px;
    width: 100%;
    
}
.filtro{
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.paginacao{
    background-color: #000000;
    height: 120px;
}

/* media */

@media (max-width: 1000px){

    /* feed */

    .post-section{
        width: 80%;
        height: 1400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    
    }
    
    .post-center{
        background-color: #121212;
        width: 100%;
        height: 90%;
    
    }
    .post-left{
        
        justify-content: center;
        align-items: center;
       
        background-color: #121212;
        text-align: left;
        width: 100%;
        height: 60%;
    }
    .post-right{
        
        justify-content: center;
        align-items: center;
       
        background-color: #121212;
        text-align: left;
        width: 100%;
        height: 40%;
    }

    .post-title{
        font-family: Times, Times New Roman, serif;
        font-size: 30pt;
        color: rgb(255, 255, 255); 
    }
    .text-label{
        font-family: Century Gothic;
        color: gainsboro;
        font-size: 30pt;
    }
    .welcome-text{
        font-family: Snell Roundhand, serif;
        font-style: italic;
        font-size: 28pt;
        text-align: center;
        color: gainsboro; 
    }

    /*header*/

    header{
        width: 100%;
        background-color: rgb(0, 0, 0);
        height: 150px;
        position: fixed;
        
        z-index: 16;
    }
    .slideshow{
        padding-top: 150px;
    }

    /* whatsapp */

    .whatsapp{
        position: fixed;
        z-index: 18;
        right: 50px;
        bottom: 50px;
        
        
    }
    
    .whatsapp img{
        width: 120px;
        height: 120px;
    }
    .whatsapp img:hover{
        width: 140px;
        height: 140px;
    }

    /* footer */

    footer{
    
        background-color: #121212;
        height: 600px;
        width: 100%;
        
    }

    .footercenter{
        height: 100%;
        width: 100%;
    }
    .footersuperior{
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 85%;
        text-align: center;
    }
    
    .footerinferior{
        background-color: #222222;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        width: 100%;
        height: 15%;
        text-align: center;
    }
    
    .footer-links{
        height: 80%;
    }
    .footertext{
        font-family: Times, Times New Roman, serif;
        font-size: 24pt;
        color: gainsboro; 
    }
    
    #containerfooter{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .coluna{
       
        width: 33%;
        height: 100%;
        font-family: Century Gothic;
        color: gainsboro;
        font-size: 30pt;
        text-align: left;
    }

    /*galeria.html*/


    .albumgaleria{
    
        padding-right: 5%;
        padding-left: 5%;
        height: 2200px;
        width: 100%;
        
    }

    .colalbum{
        
        
        padding-top: 30px;
        float: left;
        width: 33.3333%;
        height: 350px;
        
    }

    .colfoto{
        background-color: #212121;
        box-shadow: 4px 4px 16px black;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: .25rem;
        width: 92%;
        height: 92%;
        margin: 4%;
    }
    .colfoto img{
        
        border-radius: .25rem;
        height: 100%;
    }

    .divisao{
        background-color: #121212;
        height: 400px;
        width: 100%;
    }
    .pri-divisao{
    
        height: 300px;
        width: 100%;
    }
    .seg-divisao{
        height: 100px;
        width: 100%;
        
    }
    .filtro{
        
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .paginacao{
        background-color: #000000;
        height: 120px;
    }
    .btn{
        padding:20px 30px!important;
        font-size: 20pt !important;
    }
    .page-item{
        font-size: 2rem !important;
    }

}